html{
    scroll-behavior: smooth;
}
body{  
    margin: 0;
}
#menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: red;
}
#logo{
  width: 200px;
}
img{
    width: 100%; /*Aqui altera o tamanha da imagem do banner sim percentual%*/
    margin: auto; /*imagens de quem somos*/
}
#menu ul{
    list-style: none;
    display: flex;
    margin: 10px auto;
}
#menu ul li{
    margin: 20px 15px 15px 0px;
}
#menu ul li a{
    color: white;
    font-size: 20px;
    text-transform:uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
#main{
    width:100%;
}
#home{
    width: 200%;
    padding-top: 300px;
}
#quem-somos{
    width: 100%;
    color:brown;
    font-size: 20px;
    background-color: aqua;
}
#galeria img{
    width: 230.68px;
    height: 300px; 
}
#contato{
    width: 100%;
}
#footer{
    width: 200%;
    height: 400px;
    background-color: palevioletred;
    padding: 30px;
}
.container{
    width: 1300px;
    margin: 0px auto ;
}
.tipo1{
    color:black;
}
.galeria{
    width: 05px;
    height: 05px;
    display: flex;
    margin: 10px; 
}
.foto img{

    display: flex;
    width: 400px;  
    height: 400px;
    justify-content: space-between;
}
.col50{
    width: 50%;
    display: flex;
    
}

    

