.sessao{ 
    background-color: black;
}
.container{
    margin: 0 auto;
    max-width: 1048px;
    display: flex;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.box{
    max-width: 335px;
    padding-bottom: 15px;
    margin: 15px 15px 15px 0;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;  
}
.botao{
    padding: 10px 50px;
    background-color:aqua;
    color: black;
    text-decoration: none;
    width: 90px;
    margin: 0 auto;
    font-size: 15px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botao:hover{
    color: brown;
    background: gray; 
}
.box:hover{
    background:gray;
    transition: 2s;                        /*Essa função faz o as cores acenderem quando passa o mause*/
    botao{background-color:darkgray }
    img{  
        width: 100%;   
        transition: 3s;    /*Aqui nessa função a imagem tem movimento*/
    }
}
img{
    width: 160px;
    height: 160px;
    margin: 40px 15px 40px 0;
}
@media screen and (max-width:1024px) {
    .container{
        flex-direction: column;
    }
    .box{
        max-width: 100%;  
    }
}