h2{
    text-align: center;
}

.botao{
    max-width: 768px; /*largura maxima*/
    background-color: red; /*cor de fundo*/
    margin: 0 auto; /* 0-> Altura | auto -> largura*/
    display: block; /* caonverter tag de texto em estruutura de div*/
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;  
    padding: 20px 0;  /*para fora*/
    border-radius: 15px;
}
